<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }} | {{ site.affiliation }}{% endif %}</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description | default: site.description | strip_html | escape }}">
    {% if site.keywords %}
    <meta name="keywords" content="{{ site.keywords }}">
    {% endif %}
    {% if site.canonical %}
    <link rel="canonical" href="{{ site.canonical }}"/>
    {% endif %}

    <link rel="icon" media="(prefers-color-scheme:light)" href="{{ site.favicon | remove_first: './' | prepend: '/' | relative_url }}" sizes="any" type="image/x-icon" />
    <link rel="icon" media="(prefers-color-scheme:dark)" href="{{ site.favicon_dark | remove_first: './' | prepend: '/' | relative_url }}" sizes="any" type="image/x-icon" />
    <script src="{{ "/assets/js/favicon-switcher.js" | relative_url }}" type="application/javascript"></script>

    <link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/academicons/1.8.6/css/academicons.min.css integrity="sha256-uFVgMKfistnJAfoCUQigIl+JfUaP47GrRKjf6CTPVmw=" crossorigin=anonymous>
    <link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin=anonymous>

    {% if site.font == "Sans Serif" %}
    <link rel="stylesheet" href="{{ "/assets/css/font_sans_serif.css" | relative_url }}">
    {% else %}
    <link rel="stylesheet" href="{{ "/assets/css/font.css" | relative_url }}">
    {% endif %}
    {% if site.auto_dark_mode %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/publications.css" | relative_url }}">
    {% else %}
    <link rel="stylesheet" href="{{ "/assets/css/style-no-dark-mode.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/publications-no-dark-mode.css" | relative_url }}">
    {% endif %}
    {% if site.enable_navbar %}
    <link rel="stylesheet" href="{{ "/assets/css/nav.css" | relative_url }}">
    {% endif %}
  </head>
  <body{% if site.enable_navbar %} class="has-nav"{% endif %}>
    {% if site.enable_navbar %}
      {% include navigation.html %}
    {% endif %}

    <div class="wrapper">
      <header>
        
        {% if site.avatar %}
        <a class="image avatar"><img src="{{ site.avatar | remove_first: './' | prepend: '/' | relative_url }}" alt="{{ site.title }}" /></a>
        {% endif %}

        <h1>{{ site.title }}</h1>

        {% if site.position %}
        <position>{{ site.position }}</position>
        <br>
        {% endif %}
        {% if site.affiliation %}
        <a href="{{ site.affiliation_link }}" rel="noopener"><autocolor>{{ site.affiliation }}</autocolor></a>
        <br>
        {% endif %}
        {% if site.email %}
        <email>{{ site.email }}</email>
        {% endif %}

        <br>
        <br>
        <div class="social-icons">
        {% if site.google_scholar %}<a href="{{ site.google_scholar }}" aria-label="Google Scholar" target="_blank" rel="noopener"><i class="ai ai-google-scholar"></i></a>{% endif %}
        {% if site.cv_link %}<a href="{{ site.cv_link | remove_first: './' | prepend: '/' | relative_url }}" aria-label="CV" target="_blank" rel="noopener"><i class="ai ai-cv"></i></a>{% endif %}
        {% if site.github_link %}<a href="{{ site.github_link }}" aria-label="GitHub" target="_blank" rel="noopener"><i class="fab fa-github"></i></a>{% endif %}
        {% if site.linkedin %}<a href="{{ site.linkedin }}" aria-label="LinkedIn" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a>{% endif %}
        {% if site.twitter %}<a href="{{ site.twitter }}" aria-label="X / Twitter" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>{% endif %}
        </div>
        <br>

      </header>
      <section>

      {{ content }}

      <br>

      {% if site.enable_footnote %}
      <p><small>Powered by Jekyll and based off <a href="https://github.com/yaoyao-liu/minimal-light" target="_blank" rel="noopener">Minimal Light</a> theme.</small></p>
      {% endif %}

      </section>
      <footer>
        
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
